.navbar {
  display: flex;
  justify-content: space-between;

  background-color: #752A2A
  
}
.cursor {
  cursor: pointer;
  color: white;
}

Typography {
  margin-right: 50px;
}

.text-decorator-none {
  text-decoration: none;
}

.cursor {
  cursor: pointer;
  color: white;
}
